@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins",sans-serif;
}

h1 {
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  text-align: center;
}
h2 {
  margin-top: 10px;
  font-family: "Poppins",sans-serif;
  color: #ffffff;
  text-align: center;
}

p {
  font-family: "Poppins",sans-serif;
  margin: 5px 0;
  color: #ffffff;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
}

.bg {
  background-image: url('../imagens/fundo.png');
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    z-index: 2;
}
.logo {
  width: 120px;
  height: auto;
}

nav {
  background-color: burlywood;
  font-family: 'Inter', sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  line-height: 1.6;
 
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  flex-wrap: wrap;
}

nav a {
  font-size: 1rem;
  color: black;
  text-decoration: none;
  margin: 40px 30px;
  transition: color 0.3s ease;
}

nav a:hover {
  color: chocolate;
}

a:-webkit-any-link {
  cursor: pointer;
  text-decoration: none;
}

.caixa-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px;
}

.caixa {
  width: 500px;
  background-color: white;
  color: black;
  font-family: 'Inter', sans-serif;
  font-size: 1.05rem;
  padding: 25px 30px;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  transition: transform 0.25s ease, background-color 0.3s ease;
  text-align: left;
  cursor: pointer;
}

.caixa:hover {
  transform: scale(1.05);
  background-color: burlywood;
  color: white;
}

.caixa strong {
  font-weight: bold;
  color: #222;
}

.caixa-imagem {
  width: 120px;
  height: 120px;
  margin-bottom: 50px;
}
 .estado-bloco {
    flex: 1;
    min-width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

    .titulo-estado {
    color: rgb(255, 255, 255);
    text-align: center;
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
    margin-bottom: 20px;
}
    
.botao-link {
  width: 200px;
  height: 60px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(15px);
  color: rgb(0, 0, 0);
  font-family: "Poppins",sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  transition: transform 0.2s ease, background-color 0.3s ease;
  cursor: pointer;
  text-align: center;
}

.botao-link:hover {
  transform: scale(1.1);
  background-color: burlywood;
  color: chocolate;
}
.cards-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.encomenda-card {
     background: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
    color: #000000;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    border: 2px solid transparent;
}

.encomenda-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0,0,0,0.2);
    border: 2px solid #df7700; /* Cor de destaque ao passar o rato */
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}

.status-badge {
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.8em;
    font-weight: bold;
    text-transform: uppercase;
}

.status-badge.pendente { background: #ff0000; color: #000; }
.status-badge.caminho { background: #df7700; color: #000; }
.status-badge.entregue { background: #147401; color: #000 ; }
.status-badge.confirmado { background: #df7700; color: #000 ; }
.status-badge.pendente2 { background: burlywood; color: #000; }

.empty-msg {
    color: #ddd;
    text-align: center;
    font-style: italic;
}
.voltar-fixo {
  width: 200px;
  height: 60px;
  background: rgba(255, 255, 255, 0.5);
  color: rgb(0, 0, 0);
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  transition: transform 0.2s ease, background-color 0.3s ease;
  cursor: pointer;
  text-align: center;
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 9999; 
  text-decoration: none;
}
.voltar-fixo:hover {
  transform: scale(1.1);
  background-color: burlywood;
  color: chocolate;
}
.botao-cancelar {
  width: 150px;
  height: 40px;
  background: rgba(255, 255, 255, 0.5);
  color: rgb(0, 0, 0);
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  border: 1px solid #5f5f5f;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  transition: transform 0.2s ease, background-color 0.3s ease;
  cursor: pointer;
}
.botao-cancelar:hover {
  transform: scale(1.1);
  background-color: burlywood;
  color: chocolate;
}