@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins",sans-serif;
}

h1 {
  font-family: 'Poppins', sans-serif;
  color: rgb(255, 255, 255);
}
h2 {
  color: rgb(0, 0, 0);
}

p {
  font-family: 'Poppins', sans-serif;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.35);
}

.bg {
  background-image: url('../imagens/fundo.png');
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.content {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  align-items: flex-start;  
  padding: 30px;
  position: relative;
  z-index: 1;
  color: rgb(0, 0, 0);
  text-align: center;
}

.logo {
  width: 120px;
  height: auto;
}

nav {
  margin-right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: burlywood;
  font-family: 'Poppins', sans-serif;
  line-height: 1.6;
 
}

nav ul {
  margin-right: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

nav a {
  margin-right: 0;
  margin: 40px 30px;
  font-size: 1.0rem;
  text-align: center;
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav a:hover {
  color: chocolate;
}

a:-webkit-any-link {
  cursor: pointer;
  text-decoration: none;
}


.caixa-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 70px;
  flex-wrap: wrap;
}

.caixa {
  margin-top: 100px;
  width: 200px;
  height: 200px;
  color: #000000; 
  font-weight: 600; 
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease, background-color 0.3s ease;
  cursor: pointer;
  flex: 1;
  min-width: 300px; 
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.15);
  border-radius: 15px;
  padding: 15px;
  margin-bottom: 40px;
}

.caixa:hover {
  transform: scale(1.10);
  background-color: rgba(222, 184, 135, 0.836);
  color: chocolate;
}

.caixa-imagem {
  width: 120px;
  height: 120px;
  margin-bottom: 50px;
}
form {
  margin-top: 50px;
  width: auto;
  height: auto;
  color: rgb(255, 255, 255);
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease, background-color 0.3s ease;
  cursor: pointer;
  flex: 1;
  min-width: 300px; 
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(1px);
  border-radius: 15px;
  padding: 30px;
  border: 1px;
  margin-bottom: 40px;
}

form h2 {
  color: #000000;
  font-size: 24px;
  margin-bottom: 0px;
  text-align: center;
}

form label {
  font-weight: bold;
  color: #000000;
  margin-bottom: 4px;
}

form input, form select {

  width: auto;
  height: auto;
  color: rgb(0, 0, 0);
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease, background-color 0.3s ease;
  cursor: pointer;
  flex: 1;
  min-width: 300px; 
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(1px);
  border-radius: 15px;
  padding: 15px;
  border: 1px;
  margin-bottom: 40px;
}

.botao {
  margin-top: auto;
  width: 200px;
  height: 45px;
  color: black;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 1.0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: 1px;
    background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(15px);
  transition: transform 0.2s ease, background-color 0.3s ease;
  cursor: pointer;
  text-align: center;
}

.botao:hover {
  transform: scale(1.1);
  background-color: burlywood;
  color: chocolate;
}
.voltar-fixo {
  width: 200px;
  height: 60px;
  background: rgba(255, 255, 255, 0.5);
  color: rgb(0, 0, 0);
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  transition: transform 0.2s ease, background-color 0.3s ease;
  cursor: pointer;
  text-align: center;
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 9999; 
  text-decoration: none;
}
.voltar-fixo:hover {
  transform: scale(1.1);
  background-color: burlywood;
  color: chocolate;
}





.error-message {
  color: #000000;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}

.success-message {
  color: rgb(0, 0, 0);
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}
.foto-perfil {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 12px;
    border: 2px solid #fff;
}
.menu-conta {
    width: 250px;
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    margin: 20px;
}

.menu-opcao {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    border-radius: 5px;
}

.menu-opcao:hover {
    background: #f0f0f0;
}

.menu-opcao.sair {
    color: #c0392b;
}

.conteudo-conta {
    margin-left: 20px;
}
